html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #63b5f1;
}

/* .forecast-display {
    border: 1px solid #ccc;
    margin: 10px;
}*/





/* Weather card styling */
.forecast-display {
    display:  flex;
    justify-content: center;
    width: 1000px;
    background: #FFFFFF;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 14px;
}
.forecast-city {
    flex: 1;
    margin: 0;
    flex-grow: 1;
}
.close {
    position:relative;
    align-self:flex-end;
    width: 32px;
    height: 32px;
    cursor: pointer; /* Change mouse cursor on hover */
    transition: all 0.3s; /* Smooth transition for hover effects */
}
.close:hover {
    opacity: 1; /* Slightly change color on hover */
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}


.forecast-data {
    display: flex;
    width: 1000px;
    background: #FFFFFF;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 20px;
    gap:50px;
}


.forecast-day {
    position: relative;
    text-align: center; /* Center the text within each forecast */
}

    .forecast-day p {
        margin: 10px 0; /* Space out the paragraphs a bit */
    }
