/* General Formatting */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #63b5f1;
}

/* Add City */
.add {
    position: relative;
    align-self: flex-end;
    width: 32px;
    height: 32px;
    border: none;
    background: none;
}

/* Forecast Card */
.forecast-display {
    display:  flex;
    justify-content: center;
    width: 800px;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 14px;
}
.forecast-city {
    flex: 1;
    margin: 0;
    flex-grow: 1;
}

/* Remove City */
.close {
    position: relative;
    align-self: flex-end;
    width: 32px;
    height: 32px;
    border: none;
    background: none;
}

.forecast-data {
    display: flex;
    width: 800px;
    background: #FFFFFF;
    padding: 20px;
    font-size: 20px;
    gap: 50px;
}

.forecast-day {
    position: relative;
    text-align: center; 
}

    .forecast-day p {
        margin: 10px 0; 
    }
