html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #63b5f1;
}

/* .forecast-display {
    border: 1px solid #ccc;
    margin: 10px;
}*/





/* Weather card styling */
.forecast-display {
    width: 450px;
    background: #FFFFFF;
    border-radius: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 14px;

}

.forecast-day {
    text-align: center; /* Center the text within each forecast */
    margin-right: 20px; /* Add space between columns */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

    .forecast-day p {
        margin: 5px 0; /* Space out the paragraphs a bit */
    }

        /* Optional: You might want to style the first paragraph (the day label) differently */
        .forecast-day p:first-child {
            font-weight: bold;
        }

